* {
    /*-fx-background-color: #1e1f22;*/
    /*-fx-text-fill: #FFFFFF;*/
    /*-fx-border-color: #1e1f22;*/
}

.progress-indicator {
    /*-fx-background-color: #1e1f22;*/
    /*-fx-text-fill: #FFFFFF;*/
}

.button {
    /*-fx-background-color: transparent;*/
    /*-fx-skin: "xyz.zcraft.zpixiv.ui.skin.HoverBtnSkin";*/
}

.text-field,
.text-field:focused {
    /*-fx-background-color: transparent;*/
    /*-fx-border-color: #cecece;*/
    /*-fx-border-width: 1;*/
    /*-fx-border-radius: 5;*/
}

#side-bar,
#side-bar *,
#top-bar,
#top-bar * {
    /*-fx-background-color: #2b2d30;*/
    /*-fx-border-color: #2b2d30;*/
}

#search-bar {
    /*-fx-border-color: #121212;*/
}

#side-bar,
#top-bar {
    /*-fx-border-color: #1e1f22;*/
}

.pane {
    /*-fx-background-color: #1e1f22;*/
    /*-fx-text-fill: #FFFFFF;*/
    /*-fx-border-color: #1e1f22;*/
}

.svgBtnImg {
    -fx-background-color: black;
}

.svgBtn {
    -fx-cursor: hand;
}

.svgBtn:disabled .svgBtnImg {
    -fx-background-color: grey;
}

#homeBtn {
    -fx-shape: "M768 790.56l-128-0.032v-118.944a128.224 128.224 0 0 0-128-128.192c-70.592 0-128 57.504-128 128.192v118.88l-128-0.032V364.992l255.68-167.52L768 365.376v425.184z m-192-0.032l-128-0.032v-118.912c0-35.392 28.704-64.192 64-64.192s64 28.8 64 64.192v118.944z m304.896-427.68L800 309.856V207.168a32 32 0 1 0-64 0v60.768l-206.464-135.296A31.296 31.296 0 0 0 511.424 128a31.168 31.168 0 0 0-17.6 4.64l-351.36 230.208a32 32 0 0 0 35.072 53.536L192 406.912v393.056c0 30.08 27.2 54.592 60.576 54.592h518.848c33.408 0 60.576-24.512 60.576-54.592v-392.64l13.856 9.056a31.968 31.968 0 0 0 35.04-53.536z"
}

#discBtn {
    -fx-shape: "M511.088746 64.775282c-246.926856 0-447.091688 200.158692-447.091688 447.089641 0 246.934019 200.164832 447.090665 447.091688 447.090665 246.934019 0 447.087595-200.157669 447.087595-447.090665C958.17634 264.933975 758.022765 64.775282 511.088746 64.775282zM511.088746 899.344932c-213.647915 0-387.480009-173.829024-387.480009-387.478985 0-213.647915 173.832094-387.476939 387.480009-387.476939s387.475915 173.830047 387.475915 387.476939C898.565684 725.514885 724.736661 899.344932 511.088746 899.344932zM287.543414 740.243331l338.941526-112.981191L739.465107 288.319591 400.522558 401.299759 287.543414 740.243331zM645.215536 382.570185 589.896626 548.525891 479.258807 437.889095 645.215536 382.570185zM547.74869 590.67485l-165.955706 55.31891 55.31891-165.955706L547.74869 590.67485z";
}

#followedBtn {
    -fx-shape: "M809.889039 214.109426c-164.252925-164.278507-431.528224-164.278507-595.778078 0-164.280554 164.250878-164.280554 431.527201 0 595.781148 164.250878 164.276461 431.526177 164.276461 595.778078 0C974.16857 645.636626 974.16857 378.360304 809.889039 214.109426M767.13326 767.130701c-140.681066 140.712789-369.617176 140.683113-510.281869 0-140.694369-140.67902-140.694369-369.585453 0-510.279822 140.664693-140.664693 369.601826-140.694369 510.281869 0C907.812279 397.516596 907.812279 626.481358 767.13326 767.130701M602.493525 338.736864c-32.254611 0-63.968917 16.619516-90.523713 47.111994-26.464745-30.491455-58.211796-47.111994-90.465384-47.111994-75.30715 0-136.547933 66.088184-136.547933 147.31823 0 38.565341 24.124444 89.705068 55.092759 117.8992 28.496008 35.20685 144.231939 140.649344 172.305321 140.649344 26.764574 0 139.576919-100.787474 170.33955-139.365094 32.132838-29.330002 56.360635-80.55978 56.360635-119.18345C739.056807 404.825049 677.801698 338.736864 602.493525 338.736864M644.593366 563.495838l-3.310396 3.013637-2.805906 3.491521c-23.599488 29.627784-93.117794 91.060949-126.208447 112.990401-33.985022-22.557762-106.159832-87.301322-128.297015-114.603131l-2.685155-3.311419-3.163039-2.892887c-21.005406-19.094894-36.640502-55.959499-36.640502-76.128865 0-50.065256 35.894512-90.792842 80.021521-90.792842 15.33629 0 32.31294 9.801227 47.829332 27.643594l42.636053 49.097208 42.663682-49.067532c15.516392-17.841344 32.522718-27.67327 47.860031-27.67327 44.128033 0 80.051197 40.726563 80.051197 90.792842C682.544723 506.314511 666.940326 543.117718 644.593366 563.495838";
}

#settingsBtn {
    -fx-shape: "M783.68 171.626667l160.426667 276.266666a128 128 0 0 1 0.170666 128.298667l-160.64 278.272a128 128 0 0 1-110.869333 64H351.232a128 128 0 0 1-110.848-64l-160.64-278.272a128 128 0 0 1 0.149333-128.277333l160.426667-276.266667a128 128 0 0 1 110.698667-63.744h321.962666a128 128 0 0 1 110.698667 63.722667z m-110.698667 0.277333H351.018667a64 64 0 0 0-55.338667 31.872l-160.448 276.266667a64 64 0 0 0-0.085333 64.149333l160.661333 278.272a64 64 0 0 0 55.424 32h321.536a64 64 0 0 0 55.424-32l160.64-278.272a64 64 0 0 0-0.064-64.149333l-160.426667-276.266667a64 64 0 0 0-55.36-31.872zM512 650.666667a138.666667 138.666667 0 1 1 0-277.333334 138.666667 138.666667 0 0 1 0 277.333334z m0-64a74.666667 74.666667 0 1 0 0-149.333334 74.666667 74.666667 0 0 0 0 149.333334z";
}

#aboutBtn {
    -fx-shape: "M512 106.638222c223.857778 0 405.333333 181.475556 405.333333 405.333334s-181.475556 405.333333-405.333333 405.333333-405.333333-181.475556-405.333333-405.333333 181.475556-405.333333 405.333333-405.333334z m0 64c-188.515556 0-341.333333 152.817778-341.333333 341.333334s152.817778 341.333333 341.333333 341.333333 341.333333-152.817778 341.333333-341.333333-152.817778-341.333333-341.333333-341.333334zM512 434.773333a28.444444 28.444444 0 0 1 28.444444 28.444445v227.555555a28.444444 28.444444 0 1 1-56.888888 0v-227.555555a28.444444 28.444444 0 0 1 28.444444-28.444445z m0-115.825777a38.599111 38.599111 0 1 1 0 77.212444 38.599111 38.599111 0 0 1 0-77.212444z"
}

#closeBtn {
    -fx-shape: "M504.224 470.288l207.84-207.84a16 16 0 0 1 22.608 0l11.328 11.328a16 16 0 0 1 0 22.624l-207.84 207.824 207.84 207.84a16 16 0 0 1 0 22.608l-11.328 11.328a16 16 0 0 1-22.624 0l-207.824-207.84-207.84 207.84a16 16 0 0 1-22.608 0l-11.328-11.328a16 16 0 0 1 0-22.624l207.84-207.824-207.84-207.84a16 16 0 0 1 0-22.608l11.328-11.328a16 16 0 0 1 22.624 0l207.824 207.84z";
}

#exitBtn {
    -fx-shape: "M918.4 489.6l-160-160c-12.8-12.8-32-12.8-44.8 0-12.8 12.8-12.8 32 0 44.8l105.6 105.6L512 480c-19.2 0-32 12.8-32 32s12.8 32 32 32l307.2 0-105.6 105.6c-12.8 12.8-12.8 32 0 44.8 6.4 6.4 12.8 9.6 22.4 9.6 9.6 0 16-3.2 22.4-9.6l160-163.2c0 0 0-3.2 3.2-3.2C931.2 518.4 931.2 499.2 918.4 489.6zM832 736c-19.2 0-32 12.8-32 32l0 64c0 19.2-12.8 32-32 32L224 864c-19.2 0-32-12.8-32-32L192 192c0-19.2 12.8-32 32-32l544 0c19.2 0 32 12.8 32 32l0 64c0 19.2 12.8 32 32 32s32-12.8 32-32L864 192c0-54.4-41.6-96-96-96L224 96C169.6 96 128 137.6 128 192l0 640c0 54.4 41.6 96 96 96l544 0c54.4 0 96-41.6 96-96l0-64C864 748.8 851.2 736 832 736z";
}

#miniBtn {
    -fx-shape: "M736 480a32 32 0 1 1 0 64H288a32 32 0 1 1 0-64h448z m-224 448c229.376 0 416-186.624 416-416S741.376 96 512 96 96 282.624 96 512s186.624 416 416 416z m0-896c264.672 0 480 215.328 480 480s-215.328 480-480 480S32 776.672 32 512 247.328 32 512 32z";
}

#refreshBtn {
    -fx-shape: "M512 166.4c-70.4 0-134.4 19.2-192 57.6L294.4 185.6C281.6 166.4 256 172.8 249.6 192L204.8 332.8C204.8 345.6 217.6 364.8 230.4 364.8l147.2-6.4c19.2 0 32-25.6 19.2-38.4L364.8 281.6l0 0 0-6.4C403.2 243.2 460.8 230.4 512 230.4c153.6 0 281.6 128 281.6 281.6s-128 281.6-281.6 281.6-281.6-128-281.6-281.6c0-19.2-12.8-32-32-32S166.4 492.8 166.4 512c0 192 153.6 345.6 345.6 345.6S857.6 704 857.6 512 704 166.4 512 166.4z";
}

#demoBtn {
    -fx-shape: "M153.770667 517.558857l200.387047-197.241905L302.86019 268.190476 48.761905 518.290286l254.439619 243.614476 50.590476-52.833524-200.021333-191.512381zM658.285714 320.316952L709.583238 268.190476l254.098286 250.09981L709.241905 761.904762l-50.590476-52.833524 200.021333-191.512381L658.285714 320.316952z m-112.981333-86.186666L393.99619 785.554286l70.534096 19.358476 151.30819-551.399619-70.534095-19.358476z";
}